<html>
	<body>
	<p>こんにちは <%= @name %> さん</p>

	<p><strong> <%= @name %>さんの関西人度は <%=@score %>です。</strong></p>
	
	<p>700点以上 => あなたは、ナチュラルボーン関西人です</p>
	<p>500点以上 => あなたは、いわゆる関西人です</p>
	<p>300点以上 => あなたは、少し関西人の素養があります</p>
	<p>300点以下 => あなたは、前世も今世も来世も関西人ではありません</p>
	</body>
</html>
